# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# IDE & Editor specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
dist/
build/

# Environment variables
# CRITICAL: Never commit your secrets!
.env
.env.local
.env.*.local

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log
logs/